<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="row" name="welcomeHeader">
    <div class="card col">
      <div class="card-body">
        <h5 align="center" class="card-title">Idee der Seite</h5>
        <p align="center" class="card-text">Hier werden alle rechtlichen Regelungen zur Covid-19-Pandemie durchsuchbar
          und sortiert gesammelt.</p>
      </div>
    </div>
  </div>

  <div class="row" name="searchRow" style="padding-top: 15px; padding-bottom: 15px">
    <div class="col-4" name="searchCol" style="padding-left: 0">
      <div class="input-group">
        <div class="btn-group w-100">
          <input #query (keyup)="getScopesByName(query.value)" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Suche Geltungsbereich" type="text">
          <div class="dropdown-menu dropdown-menu-left">
            <h6 class="dropdown-header">Suchvorschläge:</h6>
            <button class="dropdown-item" type="button" *ngFor="let scope of scopes">{{scopeGetActualName(scope)}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3" name="filterCol" style="padding-right: 0">
      <div class="custom-control custom-switch">
        <!--<button (click)="test(check.value)">test</button>-->
        <input class="custom-control-input" id="customSwitch1" type="checkbox" #check [(ngModel)]="displayOldMeasures" [ngModelOptions]="{standalone: true}" (click)="test(check.value)">
        <label class="custom-control-label" for="customSwitch1">Abgelaufene Maßnahmen anzeigen</label>
      </div>
    </div>

  </div>

  <div class="row" name="mainContent">
    <div class="col-7" name="MeasureCol" style="min-height: 800px; max-height: 800px; padding-left: 0">
      <app-mainpage-list [measures]="filteredMeasures"></app-mainpage-list>
    </div>

    <div class="col-5" style="min-height: 400px; max-height: 800px; padding-right: 0">
      <app-map></app-map>
    </div>
  </div>
</div>
