<google-map
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>

<!--
<button type="button" class="btn btn-secondary" (click)="logCenter()">Center</button>
<button type="button" class="btn btn-secondary" (click)="addMarker()">Add Marker</button>
-->
