<div class="container">
  <app-nav-bar></app-nav-bar>
  <div class="row">
    <div class="col" style="padding-left: 0px; padding-right: 0px">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{measure.name}}</h1>
          <div class="badge badge-pill badge-secondary" *ngFor="let tag of measure.tags">{{tag}}</div>
          <div class="row">
            <div class="col">
              <span class="label label-default">Erlassdatum:</span>
              <p class="card-text ">{{measure.decreeDate}}</p>
            </div>
            <div class="col">
              <span class="label label-default">Enddatum:</span>
              <p class="card-text">{{measure.endDate}}</p>
            </div>
            <div></div>
          </div>
          <div class="row">
            <div class="col">
              <span class="label label-default">Geltungsbereich:</span>
              <p class="card-text">Berlin</p>
            </div>
            <div class="col">
              <span class="label label-default">Geltungsdatum:</span>
              <p class="card-text">{{measure.validityDate}}</p>
            </div>
            <div></div>
          </div>
          <div></div>
          <div class="row">
            <div class="col">
              <span class="label label-default">Erlassbehörde:</span>
              <p class="card-text">{{measure.decreeAuthority}}</p>
            </div>
            <div class="col">
              <span class="label label-default">Rechtsnatur:</span>
              <p class="card-text">{{measure.legalNature}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="label label-default">Begründung:</span>
              <p class="text">{{measure.reason}}</p>
            </div>
            <div></div>
          </div>
          <span class="label label-default">Link zur Datenquelle: </span>
          <a *ngFor="let file of measure.fileReference" href="{{file}}">{{file}}</a>
        </div>
      </div>
    </div>

  </div>
</div>

