.form-container{
  margin-left: -15px;
  margin-right: -15px;
}
.label{
  font-weight: bold;
}

button.btn{
  margin-top: 0.3em;
}

.form-row [class*="col"] {
  padding: 0;
}

.form-container.card{
  padding: 2em;
}

.card-title{
font-weight: bolder;
  margin-left: -0.3em;
}
