<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="form-container card">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <h5 class="card-title">Neuer Eintrag</h5>
      <!-- Insert Name of measure here -->
      <div class="name-row form-row">
        <label for="name">Name der Maßnahme</label>
        <input class="form-control" id="name" type="text" placeholder="Name">
      </div>

      <!-- decree information -->
      <div class="decree-row form-row">
        <div class="form-group col-4">
          <label for="decreeAuthority">Erlassbehörde</label>
          <input id="decreeAuthority" class="form-control" type="text" placeholder="Erlassbehörde">
        </div>
        <div class="form-group col-4">
          <label for="fileReference">Aktenzeichen</label>
          <input id="fileReference" class="form-control" type="text" placeholder="Aktenzeichen">
        </div>
        <div class="form-group col-4">
          <label for="decreeDate">Erlassdatum</label>
          <input id="decreeDate" class="form-control" type="date" formControl Name="decreeDate">
        </div>
      </div>

      <!-- scope with auto completion -->
      <div class="scope-row form-row">
        <div class="form-group col-8">
          <label for="scope">Geltungsbereich</label>
          <input id="scope" class="form-control" type="search" placeholder="Geltungsbereich" aria-label="Search">
        </div>
      </div>

      <!-- date from/until true -->
      <div class="date-row form-row">
        <div class="form-group col-4">
          <label for="validityDate">Geltungsdatum</label>
          <input id="validityDate" class="form-control" type="date">
        </div>
        <div class="form-group col-4">
          <label for="endDate">Enddatum</label>
          <input id="endDate" class="form-control" type="date">
        </div>
      </div>

      <!-- Legal nature -->
      <div class="legalNature-row form-row">
        <div class="form-group col-8">
          <label for="legalNature">Rechtsnatur</label>
          <select class="form-control" id="legalNature">
            <option>Allgemeinverfügung</option>
            <option>Verordnung</option>
            <option>Gesetz</option>
            <option>Verwaltungsanweisung</option>
          </select>
        </div>
      </div>

      <!-- -->
      <div class="documentSource-row form-row">
        <div class="form-group col-4">
          <div class="form-group">
            <label for="documentSource">Quelle</label>
            <input type="text" class="form-control" id="documentSource" placeholder="Link">
          </div>
        </div>
      </div>

      <!-- Tags -->
      <div class="tags-row form-row">
        <div class="form-group col-8">
          <div class="form-group">
            <label for="tags">Select Tags</label>
            <select multiple class="form-control" id="tags">
              <option value="Versammlungsverbot">Versammlungsverbot</option>
              <option value="Reiserückkehrer">Reiserückkehrer</option>
              <option value="Kontaktpersonen">Kontaktpersonen</option>
              <option value="Verdachtsfälle">Verdachtsfälle</option>
              <option value="Ladenöffnung">Ladenöffnung</option>
            </select>
          </div>
        </div>
      </div>

      <!-- relation -->
      <div class="tags-row form-row">
        <div class="form-group col-8">
          <div class="form-group">
            <button type="button" class="btn btn-secondary">Bezug hinzufügen</button>
          </div>
        </div>
      </div>
      <!--
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bezug</h5>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="references">Art:</label>
                <select class="form-control" id="references">
                  <option>Aufhebung</option>
                  <option>Ergänzung</option>
                  <option>Änderung</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Suche</button>
              </form>
            </div>
            <div class="col-sm-3">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Erlassbehörde" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Suche</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Erlassdatum" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Suche</button>
              </form>
            </div>
            <div class="col-sm-3">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Aktenzeichen" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Suche</button>
              </form>
            </div>
          </div>
        </div>
      </div>

-->

      <!-- Legal nature -->
      <div class="reason-row form-row">
        <div class="form-group col-4">
          <label for="reason">Begründung</label>
          <select class="form-control" id="reason">
            <option>keine</option>
            <option>Begründung im PDF</option>
            <option>erwartet</option>
          </select>
        </div>
      </div>

      <!-- TODO: routes back to MainPage... -->
      <input [routerLink]="['/MainPage']" class="btn btn-primary float-right" type="submit" value="erstellen">

    </form>
  </div>
</div>
