<div class="card" [routerLink]="['/DetailPage', measure.id]">
  <div class="card-body">
    <h5 class="card-title">{{measure.name}}</h5>
      <p class="card-text ">{{measure.decreeDate}}</p>
      <p class="card-text">{{measure.endDate}}</p>
      <div style="width: auto">
        <div class="badge badge-pill badge-secondary" *ngFor="let tag of measure.tags">{{tag}}</div>
        <a href="{{measure.documentSource}}"><i class="far fa-file-pdf" style="font-size: xx-large"></i></a>
      </div>
    <!--<img href="#" src="../../assets/pdf.svg" class="d-inline-block align-bottom" alt=""/>-->
  </div>
</div>

