<div class="row">
<div class="col-12" style="padding-left: 0; padding-right: 0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light align-top">
    <a class="navbar-brand" [routerLink]="['/MainPage']">
      <img src="assets/CoReS2.png" width="120" height="40" class="d-inline-block align-top" alt="">
      CoronaRechtsSammlung
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- insert navbar items here -->
      </ul>
      <button [routerLink]="['/InputPage']" class="btn btn-dark float-right" type="button" [ngClass]="InputLinkVisibility ? '' : 'hidden'">Upload</button>
      <button type="button" class="btn btn-dark float-right">Login</button>
    </div>
  </nav>
</div>
</div>
