html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{

  max-width: 80%;
}

.map-container{
  width: 100% !important;
  height: 100% !important;
}
.google-maps {
  position: relative;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
